body {
    margin: auto;
    font-family: 'Inter', sans-serif;
    background-image: url(./imagens/background-1.jpeg);
    background-size: 150%;
}

main {
    margin: auto;
    height: auto;
    min-width: 320px;
    max-width: 900px;
    justify-content: center;
}

Header .logo {
    /* cabeçalho */
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px #2699FB solid;
    background-image: url(./imagens/background-logo.jpeg);
    border-radius: 16px;
    margin-top: 20px;
}

.logo p {
    /* texto endereço*/
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
    margin-top: 25px;
}

.logo h1 {
    /* texto UBS*/
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 30px;
    margin-top: 5px;

}

.logo img {
    /* imagem do G3*/
    width: 150px;
    height: 90%;
    margin-left: 5px;
    border-radius: 16px;
}


h1 {
    /* texto nosso serviço*/
    font-size: 30px;
    margin-left: 50px;
    margin-top: 50px;
}

.section-1 {
    /* 1º container*/
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
}



.action-title p {
    /* texto A unidade basica...*/
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 50px;
    font-size: 15px;
    min-width: 50px;
    max-width: 800px;
    width: 100%;
}

.ebook img {
    /* imagem faixada*/
    width: 100%;
    height: auto;
    border-radius: 16px;
    max-width: 800px;
    justify-content: center;
    margin-left: 60px;
}
.clique {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    font-size: 5px;
    padding: 10px 30px;
    width: 200px;
    background: rgb(128, 128, 209);
    border: 1px solid rgb(212, 194, 194);
    border-radius: 20px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgb(82, 82, 167);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 16px;

}
.clique:hover {
    /* efeito de mudança de cor do botão fale conosco*/
    background: rgb(60, 120, 218);
    transition: background 1s;
}
 h4 {
    text-align: center;
 }

.mapa {
    /* container da imagem do mapa*/
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.mapa p { /* texto abaixo da imagem mapa*/
    display: flex;
    text-align: center;
    justify-content: center;

}

.ebook-2 iframe {
    /* imagem do mapa*/
    height: 200px;
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    border-radius: 16px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.cards {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 200px;
    width: 100%;
}

.card-2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 200px;
    width: 100%;
}


.card-1 img {
    height: 100px;
    border: 1px solid blue;
    border-radius: 50%;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.card-1 h1 {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 5px;
}

.card-1 p {
    font-size: 15px;
    margin-top: 0px;
}

.card-2 img {
    height: 100px;
    border: 1px solid blue;
    border-radius: 50%;
    margin-top: 40px;
    
}

.card-2 h1 {
    font-size: 20px;
    margin-top: 30px;
}

.card-2 p {
    font-size: 15px;
    margin-top: 0;
}

.section-3 {
    /* container 3*/
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;

}

.action-title-2 h1 {
    /* titulo nossa estrutura*/
    font-size: 20px;
    margin-left: 50px;
}

.action-title-2 p {
    /* texto nossa estrutura*/
    font-size: 15px;
    min-width: 50px;
    max-width: 300px;
    width: 100%;
}

.ebook-1 img {
    /* imagem da nossa estrutura*/
    width: 100%;
    margin-left: 40px;
    width: 400px;
    height: 400px;
    margin-right: 40px;
    border-radius: 16px;
    margin-top: 120px;
}




a {
    /* texto link botão fale conosco*/
    font-size: 20px;
    color: rgb(8, 9, 10);
}


.btn1 {
    /* botão fale conosco*/
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 10px 40px;
    width: 250px;
    background: rgb(128, 128, 209);
    border: 1px solid rgb(212, 194, 194);
    border-radius: 20px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgb(82, 82, 167);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

a {
    /*retirando linha sublime do botão fale conosco*/
    text-decoration: none;
}

.btn1:hover {
    /* efeito de mudança de cor do botão fale conosco*/
    background: rgb(60, 120, 218);
    transition: background 1s;
}


footer {
    /* rodapé */
    background: linear-gradient(90deg, #005A9C, #2699FB);
    display: flex;
    width: 100%;
    justify-content: center;
    /* Alinhamento na horizontal se flex direction for row(vem como padrão */
    margin-top: 20px;
    color: white;
    font-size: 12px;
    padding: 10x 0px 10px 0px;
    /* espaçamento interno, ao contrario da margin */
}

footer img {
    /* imagem do grupo 3 no rodapé*/
    display: flex;
    width: 40px;

    border-radius: 7px;
    margin-left: 10px;



}


@media (max-width: 750px) {
    body {
        /* corpo total da pagina*/
        margin: 0;
        background-size: 500%;
    }
    Header .logo {
        /* cabeçalho */
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
        margin: auto;
        margin-left: 30px;
        margin-right: 30px;
        border: 1px #2699FB solid;
        background-image: url(./imagens/background-logo.jpeg);
        border-radius: 16px;
        margin-top: 10px;
    }

    .logo img {
        /* imagem Novembro azul*/
        margin-left: 5px;
        border-radius: 16px;
        width: 100px;
    }

    .logo h1 {
        /* titulo UBS */
        font-size: 15px;
        margin-left: 10px;
        margin-top: 5px;
        text-align: center;
    }

    .logo p {
        /* Endereço*/
        font-size: 10px;
        margin-left: 5px;
        margin-top: 5px;
        text-align: center;
    }

    .section-1 {
        /* container 1*/
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .ebook img {
        /* imagem faixada*/ 
        max-width: 400px;
        margin-left: 10px;
           }

    h1 {
        /* titulo seja bem vindo*/
        font-size: 25px;
        text-align: center;
    }

    .action-title p {
        /* texto unidade basica de saude ...*/
        font-size: 15px;
        width: auto;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }

    .mapa {
        /* container da imagem do mapa*/
        display: flex;
        margin-top: 10px;
        justify-content: center;
        margin-left: 0px;
    }
    .ebook-2 iframe {
        /* imagem do mapa*/
        align-items: center;
        margin-top: 20px;
        width: 400px;

    }

    .section-3 {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
       
    }
    

    .action-title-2 p {
        font-size: 20px;
        text-align: center;
    }

    .cards {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 0;


    }

    .card-1 {
        display: flex;
        align-items: center;
        margin-top: 0;

    }

    .card-1 h1 {
        font-size: 20px;
        align-items: center;
        text-align: center;
    }

    .card-2 {
        display: flex;
        align-items: center;
        margin-top: 100px;
    }

    .card-2 h1 {
        font-size: 20px;
        align-items: center;
    }

    .card-1 img {
        display: flex;
        margin-top: 0;
        align-items: center;
    }

    .ebook-1 img {
        /* imagem da nossa estrutura*/
        margin-top: 30px;
    }

    footer {
        font-size: 10px;
    }
}